* {
    margin: 0;
    font-size: 1.2rem;
    font-family: Sans-Serif;
}

a:hover {
    text-decoration: none;
}


header {
    padding: 4rem;
    grid-column: 1/4;
    text-align: center;
}


body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
    gap: 0.3rem;


    /* centered vertically and horizontally */
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;

    padding: 20px;

    /* border: 3px solid #000;

    overflow: hidden;
    max-width: 50ch;

    border-radius: 12px; */

    background-color: #ffffff;
}

footer {
    padding: 2rem;
    grid-column: 1/4;
    text-align: center;
}

time {
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-evenly;
}